
.link{
    cursor: pointer;
    position: relative;
    color:var(--light-gray);
    &:hover{
        color: var(--link);
        &::after{
            position: absolute;
            content:'';
            left:0%;
            top:2.25rem;
            height:3px;
            width:140px;
            background-color: var(--link);
        }
        
    }
    &:active{
        color: var(--link);
        &::after{
            position: absolute;
            content:'';
            left:0%;
            top:2.25rem;
            height:3px;
            width:140px;
            background-color: var(--link);
        }
        
    }
}