:root {
    --primary-color: #e9f5fb;
    --body-bg: #FFFFFF;
    --body-color: #2A2A2A;
    --white: #fff;
    --btn-pink: #F67599;
    --stepper-circle-bg: #2A2A2A;
    --dark-gray: #4a4a4a;
    --light-gray: #AFB1BD;
    --pale-gray: #f0f0f5fb;
    --footer-color-gray: #808080;
    --cart-panel-bg: #383838;
    --input-radio: #2A2A2A;
    --input-radio-bg: #FFFFFF;
}

[ data-theme="dark"] {
    --body-bg: #121212;
    --body-color: #FFFFFF;
    --white: #fff;
    --btn-pink: #F67599;
    --stepper-circle-bg: #333333;
    --dark-gray: #4a4a4a;
    --light-gray: #AFB1BD;
    --pale-gray: #4a4a4a;
    --footer-color-gray: #808080;
    --cart-panel-bg: #383838;
    --input-radio: #4a4a4a;
    --input-radio-bg: #4a4a4a;
}

a,
a:hover,
a:focus {
    color: var(--body-color);
}


html {
    font-size: 12px;
    height: 100%;
}

body {
    height: 100%;
    background-color:var(--primary-color);

    color: var(--body-color);
    font-family: "Helvetica";
}