@import './colors.scss';
@import './link.scss';



a,
a:hover,
a:focus {
    color: var(--body-color);
}


html {
    font-size: 12px;
    height: 100%;
}

body {
    height: 100%;
    background-color:var(--primary-color);

    color: var(--body-color);
    font-family: "Helvetica";
}

textarea{
    resize:none;
}